<h1>Your Cart</h1>

<% if @cart.empty? %>
  <p>Your cart is empty.</p>
<% else %>
  <p><%= link_to "Empty Your Cart", cart_clear_path %></p>
<% end %>
<br><br>

<% total = 0 %>

<ul>
<%= @cart %>
<% @cart.each do |id, quantity| %>
  <% product = Product.find_by_id(id) %>
  <li>
    <%= link_to product.title, product %>
    <p><%= product.description %></p>
    <p><%= humanized_money_with_symbol(product.price) %></p>
    <p>Quantity: <%= quantity %></p>
  </li>
  <% total += quantity * product.price %>
<% end %>
<p><b>Total: <%= humanized_money_with_symbol(total) %></b></p>
</ul>
<% provide(:amount_to_pay, "#{(total * 100).to_i}") %>
<%= render "/charges/new" %>
