<div id="pictureCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
  <!-- Indicators -->
  <ol class="carousel-indicators">
  <% @product.pictures_urls.each_index do |picture_index| %>
    <li data-target="#pictureCarousel" data-slide-to="<%= picture_index %>"<%= " class=\"active\"".html_safe if picture_index == 0 %>></li>
  <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
  <% if @product.pictures_urls and !@product.pictures_urls.empty? %>
    <% @product.pictures_urls.each do |picture| %>
    <div class="item<%= " active" if @product.pictures_urls.index(picture) == 0 && picture %>">
      <%= image_tag(picture, class: "img-responsive", width: "100%", alt: @product.title) if picture %>
    </div>
    <% end %>
  <% else %>
    <div>
      <img src=<%= yield :picture_placeholder %> class="img-responsive img-rounded">
    </div>
  <% end %>
  </div>

  <% if @product.pictures_urls and !@product.pictures_urls.empty? %>
  <!-- Left and right controls -->
  <a class="left carousel-control" href="#pictureCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#pictureCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <% end %>
</div>
