<%= simple_form_for @product, html: { multipart: true } do |f| %>
  <%= f.input  :title, label: "Product Title" %>
  <%= f.input  :maker %>
  <%= f.input  :price %>
  <%= f.input  :description %>
  <%= f.file_field :pictures, multiple: true %>
  <div class="container-fluid">
    <div class="row">
    <%= f.nested_fields_for :variations do |v| %>
        <div class="col-xs-3"><%= v.input :item_number %></div>
        <div class="col-xs-2"><%= v.input :size %></div>
        <div class="col-xs-2"><%= v.input :color %></div>
        <div class="col-xs-2"><%= v.input :quantity %></div>
        <div class="col-xs-3">
        <%= v.remove_nested_fields_link "Remove", class: "btn btn-danger",
          role: "button", data: { confirm: 'Are you sure?' } %>
        </div>
    <% end %>
    </div>
  <%= f.add_nested_fields_link :variations, "Add a row",
    class: "btn btn-primary", role: "button" %>
  </div>
  <%= f.button :submit %>
<% end %>
