<div class="container-fluid index-center">
  <%= paginate @products, theme: "bootstrap" %>
  <div class="row">
    <% @products.each do |product| %>
    <% if product %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="image-wrapper overlay-fade-in">

        <% picture = product.pictures_urls.sample %>
        <%= image_tag(picture, class: "img-responsive", width: "100%",
                               alt: product.title) if picture%>

        <div class="image-overlay-content">
          <h2><%= product.title %></h2>
          <p><%= humanized_money_with_symbol(product.price) %></p>
          <%= link_to "Show", product_path(product), class: "button" %>
          <% if user_signed_in? %>
          <%= link_to "Add to Cart", "/cart/#{product.id}", class: "button" %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
  <%= paginate @products, theme: "bootstrap"  %>
</div>
