<div class="container-fluid">
  <div class="col-xs-12 col-md-6">
    <% provide(:picture_placeholder,
               "http://placehold.it/700x700?text=Sorry...+no+picture+:-(") %>
    <%= render partial: "carousel" %>
    <%= link_to "Back", root_path %>
    <% if user_signed_in? && current_user.try(:admin?) %>
      <%= link_to "Edit", edit_product_path(@product) %>
      <%= link_to "Delete", product_path(@product), method: :delete,
                                                  data: { confirm: "Are you sure?" } %>
    <% end %>

  </div>
  <div class="col-xs-12 col-md-6">
    <h2><%= @product.title %></h2>
    <h4><%= @product.maker %></h4>
    <h2><%= humanized_money_with_symbol(@product.price) %></h2>
    <p><%= @product.description %></p>
    <p>
      <%= collection_select :variation, "color", @product.variations.unique_by_color, :id, :color, include_blank: false, prompt: true, class: "form-control" %>
    </p>
    <p>
      <%= collection_select :variation, "size", @product.variations.unique_by_size, :id, :size, include_blank: false, prompt: true, class: "form-control" %>
    </p>
    <button class="btn btn-default" id="color_chosen"></button>
    <button class="btn btn-default" id="size_chosen"></button>
  </div>
</div>
