<%= form_tag charges_path, id: "stripeForm" do %>
  <article>
    <%= hidden_field_tag :stripeToken %>
    <%= hidden_field_tag :stripeEmail %>
    <%= hidden_field_tag :stripeAmount %>
  </article>
  <button id="stripe-button">Purchase</button>
<% end %>

<script src="https://checkout.stripe.com/checkout.js"></script>

<script>
  var handler = StripeCheckout.configure({
    key: '<%= Rails.configuration.stripe[:publishable_key] %>',
    locale: "auto",
    name: "T-Shirt Store",
    description: "Thank you for the purchase!",
    token: function(token) {
      $("input#stripeToken").val(token.id);
      $("input#stripeEmail").val(token.email);
      $("input#stripeAmount").val(<%= yield :amount_to_pay %>);
      $("#stripeForm").submit();
    }
  });

  $("#stripe-button").on("click", function(e) {
    var amount = <%= yield :amount_to_pay %>;
    amount = parseInt(amount);
    handler.open({
      amount: amount,
      email: "<%= current_user.email %>",
      billingAddress: true,
      shippingAddress: true,
      allowRememberMe: true
    })
    e.preventDefault();
  });

  // Close Checkout on page navigation
  $(window).on("popstate", function() {
    handler.close();
  });
</script>
